<template lang='pug'>
  v-container.registration-page.grey.darken-4.d-flex.align-center(fluid)
    v-row.ma-0.pa-0.d-flex.justify-center
      v-col(cols='12' class='ma-0 pa-0 d-flex justify-center')
          v-card(
            v-if='isRegistration',
            width='98%',
            max-width='500px',
            key='registrationCard',
          )
            v-card-title
              p Registration
            v-card-text
              v-form( ref='userCredsForm' )
                v-text-field(
                  v-model='email',
                  label="Email",
                  :rules='emailRules',
                  required,
                )
                v-text-field(
                  v-model='password',
                  label="Password",
                  :rules='passwordRules',
                  required,
                )
            v-card-actions
              v-btn(
                @click='registerUser',
                :loading="loading"
                :disabled="loading"
                color='primary',
              ) Registration
              v-spacer
              v-btn(
                text,
                color='primary',
                to='/authorization'
              ) Sign In
          v-card(
            v-else-if='isAuthorization',
            width='98%',
            max-width='500px',
            key='authorizationForm',
          )
            v-card-title
              p Authorization
            v-card-text
              v-form( ref='userCredsForm' )
                v-text-field(
                  required
                  v-model='email',
                  :rules='emailRules',
                  label="Email"
                )
                v-text-field(
                  required,
                  v-model='password',
                  label="Password"
                  :rules='passwordRules',
                )
            v-card-actions
              v-btn(
                @click='authorizateUser',
                :loading="loading"
                :disabled="loading"
                color='primary',
              ) Authorization
              v-spacer
              v-btn(
                text,
                color='primary',
                to='/registration',
              ) Registers
    v-snackbar(v-model='shackBarStatus') {{ shackBarMessage }}
      template(v-slot:action='{ attrs }')
        v-btn(
          color="red",
          text,
          v-bind="attrs",
          @click="shackBarStatus = false",
        ) Close
</template>

<script lang="ts">
import { Vue, Component, Watch } from 'vue-property-decorator';
import { validateCreds, registerateUser } from '@/api/axios/authorizationRegistration/index';

@Component(
  {
    name: 'AuthorizationRegistration',
  },
)

export default class AuthorizationRegistration extends Vue {
  actionType: 'registration'| 'authorization' = 'registration';

  shackBarStatus = false;

  shackBarMessage = '';

  email = '';

  password = '';

  loading = false;

  emailRules = [
    (v: any): boolean | string => !!v || 'Email is required',
    (v: any): boolean | string => /.+@.+\..+/.test(v) || 'E-mail must be valid',
  ];

  passwordRules = [(v: any): boolean | string => !!v || 'Password is required']

  registerUser(): void {
    if ((this.$refs.userCredsForm as any).validate()) {
      this.loading = true;

      registerateUser(this.credsObject)
        .then((res: any) => {
          this.loading = false;
          this.$router.push('/verification');
        })
        .catch((res: any) => {
          this.showShackbar(res?.response?.data?.message || 'something wrong');
          this.loading = false;
        });
    }
  }

  authorizateUser(): void {
    if ((this.$refs.userCredsForm as any).validate()) {
      this.loading = true;
      validateCreds(this.credsObject)
        .then((res: any) => {
          this.loading = false;
          this.$store.dispatch('accessAbilityModule/setIsAuthorizated', true);
          this.$store.dispatch('accessAbilityModule/setPermissionList', res.data.permissions);
          this.$store.dispatch('accessAbilityModule/setLastAuthorizationTime', Date.now());
          this.$router.push('/');
        })
        .catch((res: any) => {
          this.showShackbar(res.response.data.message);
          this.loading = false;
        });
    }
  }

  showShackbar(message: string): void {
    this.shackBarStatus = true;
    this.shackBarMessage = message;
  }

  get credsObject() {
    return {
      login: this.email,
      password: this.password,
    };
  }

  get isAuthorization() {
    return this.$route.name === 'Authorization';
  }

  get isRegistration() {
    return this.$route.name === 'Registration';
  }

  @Watch('$route', { deep: true })
  onRouteChange() {
    (this.$refs.userCredsForm as any).reset();
  }
}
</script>

<style lang="scss" scoped>
.registration-page {
  height: 100%;
}
</style>
