<template lang='pug'>
  v-container.verification-page.grey.darken-4.d-flex.align-center(fluid)
    v-row.ma-0.pa-0.d-flex.justify-center
      v-col.ma-0.pa-0.d-flex.justify-center(cols='12')
          v-card(
            width='100%',
            key='verificationCard',
          )
            v-card-title
              p Verification
            v-card-text
              v-progress-circular(
                indeterminate
                v-if='loading'
                :size="50"
                color="primary"
              )
              v-form(
                v-else,
                ref='userVerificationForm',
              )
                v-text-field(
                  required,
                  counter,
                  v-model='code'
                  maxlength="8",
                  label="Password",
                  :rules="[codeRules.validation, codeRules.counter]"
                  @input='handleCodeInputChange'
                )
    v-snackbar(v-model='shackBarStatus') {{ shackBarMessage }}
      template(v-slot:action='{ attrs }')
        v-btn(
          color="red",
          text,
          v-bind="attrs",
          @click="shackBarStatus = false",
        ) Close
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';
import { verificate } from '@/api/axios/authorizationRegistration/index';

@Component(
  {
    name: 'Verification',
  },
)
export default class Verification extends Vue {
  shackBarStatus = false;

  shackBarMessage = '';

  code = '';

  loading = false;

  codeRules = {
    counter: (v: any) => v.length <= 20 || 'Max 20 characters',
    validation: (v: any): boolean | string => /^[0-9]*$/.test(v) || 'Code should be contain only numbers',
  };

  handleCodeInputChange() {
    if (this.code.length === 8) {
      this.validateVerificationCode();
    }
  }

  validateVerificationCode() {
    this.loading = true;
    verificate({ verificationCode: this.code })
      .then((res) => {
        setTimeout(() => {
          this.loading = false;
          this.$router.push('/authorization');
        }, 1000);
      })
      .catch((err) => {
        setTimeout(() => {
          this.loading = false;
          this.shackBarStatus = true;
          this.shackBarMessage = err?.response?.data?.message || 'something wrong';
        }, 1000);
      });
  }
}
</script>

<style lang="scss" scoped>
.verification-page {
  height: 100%;
}
</style>
