<template lang='pug'>
    v-dialog(
      v-model='dialog'
      max-width='600'
    )
      v-card
        v-toolbar(
          color='primary'
          dark
        ) {{ placeholder }}
        v-card-actions.justify-center.pa-6
          v-btn(
            text,
            @click='$emit("submit")',
          ) Action
          v-btn(
            text,
            @click='$emit("close")',
          ) Close
</template>

<script lang='ts'>
import { Vue, Component, Prop } from 'vue-property-decorator';

@Component(
  {
    name: 'ConfirmationDialog',
  },
)
export default class ConfirmationDialog extends Vue {
  @Prop({ default: false })
  dialog?: boolean;

  @Prop({ default: 'Confirmation popup' })
  placeholder?: string;
}
</script>
