<template lang='pug'>
    v-dialog(
      max-width='600',
      v-model='dialog',
    )
      v-card
        v-toolbar(
          dark,
          color='primary',
        ) {{ placeholder }}
        v-card-text.pa-4
          v-form(ref='fileInputForm')
            template(v-for='(item ,index) in crudInputs')
              v-text-field(
                required,
                v-model='localActionItem[item.name]',
                :rules='getRulesByConfig(item)',
                :key='index',
                :label='item.name',
                :disabled='item.disabled',
              )
        v-card-actions.justify-end
          v-btn(
            text,
            @click='validateForm',
          ) Action
          v-btn(
            text,
            @click='$emit("close")',
          ) Close
</template>

<script lang='ts'>
import {
  Vue, Component, Prop, Watch,
} from 'vue-property-decorator';

@Component(
  {
    name: 'CrudActionDialog',
  },
)
export default class CrudActionDialog extends Vue {
  @Prop({ default: false })
  dialog?: boolean;

  @Prop({ default: 'Action popup' })
  placeholder?: string;

  @Prop({ default: () => ({}) })
  readonly crudInputs: any;

  @Prop({ default: () => ({}) })
  readonly activeItem: any;

  localActionItem = {};

  rules = [];

  getRulesByConfig(item: any) {
    const rules = [];

    if (item.disabled) return [];
    if (!item.allowNull) rules.push((v: any) => !!v || 'Required');

    return rules;
  }

  validateForm() {
    const result = (this.$refs.fileInputForm as any).validate();

    if ((this.$refs.fileInputForm as any).validate()) {
      this.$emit('submit', this.localActionItem);
    }
  }

  @Watch('activeItem', { deep: true })
  onActionItemChange() {
    this.localActionItem = JSON.parse(JSON.stringify(this.activeItem));
  }
}
</script>
