<template lang='pug'>
    v-dialog(
      v-model='dialog'
      max-width='600'
    )
      v-card
        v-toolbar(
          color='primary'
          dark
        ) File Input
        v-card-text.pa-4
          v-form(ref='fileInputForm')
            v-text-field(
              v-model='fileNameInputValue',
              :disabled='isEmptyInputValue',
              label='Name',
            )
            v-file-input.pa-0(
              hide-details,
              label='File input',
              v-model='fileInputValue',
              :placeholder='placeholder',
              :accept='acceptedFiles',
            )
        v-card-actions.justify-end
          v-btn(
            text,
            @click='validateForm',
          ) Upload
          v-btn(
            text,
            @click='$emit("close")',
          ) Close
</template>

<script lang='ts'>
import {
  Vue, Component, Prop, Watch,
} from 'vue-property-decorator';

@Component(
  {
    name: 'FilePopup',
  },
)
export default class FilePopup extends Vue {
  @Prop({ default: false })
  dialog?: boolean;

  @Prop({ default: '' })
  acceptedFiles?: string;

  @Prop({ default: () => null })
  uploadAction?: any;

  @Prop({ default: 'file input' })
  placeholder?: string;

  fileInputValue?: File | null = null;

  fileNameInputValue?: string = '';

  validateForm() {
    if ((this.$refs.fileInputForm as any).validate()) {
      this.$emit('submit', this.fileInputValue, this.fileNameInputValue);
    }
  }

  get isEmptyInputValue() {
    return !this.fileInputValue;
  }

  @Watch('fileInputValue')
  onFileInputChange() {
    this.fileNameInputValue = this.fileInputValue?.name || '';
  }
}
</script>
