<template lang="pug">
  v-footer(
    dark
    padless
  )
    v-card.grey.darken-4.white--text.text-center(
      flat
      tile
    )
      v-card-text
        v-btn(
          v-for="icon in icons"
          :key="icon"
          class="mx-4 white--text"
          icon
        )
          v-icon(size="24px") {{ icon }}
      v-card-text.white--text.pt-0
        | Phasellus feugiat arcu sapien, et iaculis ipsum elementum sit amet.
        | Mauris cursus commodo interdum.
        | Praesent ut risus eget metus luctus accumsan id ultrices nunc.
        | Sed at orci sed massa consectetur dignissim a sit amet dui.
        | Duis commodo vitae velit et faucibus. Morbi vehicula lacinia malesuada.
        | Nulla placerat augue vel ipsum ultrices, cursus iaculis dui sollicitudin.
        | Vestibulum eu ipsum vel diam elementum tempor vel ut orci.
        | Orci varius natoque penatibus et magnis dis parturient montes,
        | nascetur ridiculus mus.

      v-divider

      v-card-text.white--text
        | {{ new Date().getFullYear() }} — <strong>Art Gallery</strong>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';

@Component(
  {
    name: 'Footer',
  },
)
export default class Footer extends Vue {
  icons = [
    'mdi-facebook',
    'mdi-twitter',
    'mdi-linkedin',
    'mdi-instagram',
  ];
}
</script>
