<template lang='pug'>
  div
    v-app-bar(
      app,
      fixed,
      :flat='flatStatus',
      dark,
      :color='stateColor',
    )
      div.d-flex.align-center
        v-icon(x-large) mdi-image-multiple
      v-spacer

      template(v-for='(item, index) in getAccessedPageList')
        v-btn.d-none.d-md-flex.align-center(
          text
          :to='item.link'
        )
          span.mr-2 {{ item.name }}

      v-spacer
      v-app-bar-nav-icon.d-flex.d-md-none(@click.stop='drawer = !drawer')
      v-btn.d-none.d-md-flex.align-center(
        v-if='!getIsAuthorizated'
        text,
        plain
        to='/authorization',
      ) Авторизация
      v-btn.d-none.d-md-flex.align-center(
        text,
        outlined,
        v-if='!getIsAuthorizated'
        to='/registration',
        :ripple='false',
      ) Регистрация
      v-btn.d-none.d-md-flex.align-center(
        text,
        plain
        v-if='getIsAuthorizated'
        :ripple='false',
        @click='logOutAction  ',
      ) Выйти с учетной записи
    v-navigation-drawer.mt-16(
      absolute,
      width='100%',
      v-model="drawer"
    )
      v-row.ma-0
        v-col(cols='12').pa-0
          v-list
            v-subheader Учетная Запись
            v-list-item-group
              v-list-item(v-if='!getIsAuthorizated', to='/authorization') Авторизация
              v-list-item(v-if='!getIsAuthorizated' to='/registration') Регистрация
              v-list-item(v-if='getIsAuthorizated', @click='logOutAction') Выйти с учетной записи
          v-list.pa-0
            v-subheader Активности
            v-list-item-group
              v-list-item(
                v-for='(item, index) in getAccessedPageList',
                :to='item.link'
              )
                v-list-item-title {{ item.name }}
</template>

<script lang='ts'>
import { Vue, Component, Prop } from 'vue-property-decorator';
import { mapGetters } from 'vuex';
import { logOut } from '../api/axios/authorizationRegistration/index';

@Component(
  {
    name: 'Header',
    computed: {
      ...mapGetters('windowModule', ['getScrollHeight']),
      ...mapGetters('accessAbilityModule', ['getAccessedPageList', 'getIsAuthorizated']),
    },
  },
)
export default class Header extends Vue {
  @Prop({
    default: true,
  })
  isStaticHeader?: boolean;

  @Prop({
    default: 'grey darken-4',
  })
  headerColor?: string;

  drawer = false;

  logOutAction() {
    logOut()
      .then(() => {
        this.$store.dispatch('accessAbilityModule/setIsAuthorizated', false);
        this.$store.dispatch('accessAbilityModule/setPermissionList', []);
        this.$store.dispatch('accessAbilityModule/setLastAuthorizationTime', null);
      })
      .catch(() => {
        console.log('error');
      });
  }

  get stateColor() {
    if (this.isStaticHeader) {
      return this.headerColor;
    }

    return (this.$store.getters['windowModule/getScrollHeight'] < 400) ? 'transparent' : this.headerColor;
  }

  get flatStatus() {
    if (this.isStaticHeader) {
      return this.isStaticHeader;
    }

    return this.$store.getters['windowModule/getScrollHeight'] < 400;
  }
}
</script>

<style lang="scss" scoped>
.v-app-bar.v-app-bar--fixed {
  z-index: 10;
}
.full-height {
  min-height: 100%;
}
</style>
