<template lang='pug'>
  v-container.py-16.grey.darken-4.d-flex.flex-column.full-height(fluid)
    v-row
      template(v-for='(item, index) in pictureList')
        v-col(
          cols='12',
          sm='6',
          md='4',
          lg='3',
          :key='index'
        )
          v-hover(v-slot="{ hover }")
            v-card(
              v-ripple,
              @click="goToPictureDetail(item)"
            )
                v-card-text.pa-0
                  v-img(
                    :src='`${getApiHost}/${item.imgPath}`'
                  )
                  v-fade-transition
                      v-overlay(
                        absolute
                        v-if="hover"
                      )
                        v-card-title {{ item.name }}
    v-row.d-flex.justify-center
      v-pagination(
        v-model="currentPagination"
        :class="{ 'd-none': countOfPages <= 1 }"
        :length="countOfPages"
        @input='getPage'
      )
    v-dialog(
      width='500',
      v-if='dialog',
      v-model="dialog",
    )
      v-card
        v-card-text.pa-0
          v-container.pa-0
            v-row.ma-0.pa-0
              v-img(
                :src='`${getApiHost}/${activeItem.imgPath}`',
              )
            v-row.ma-0.pa-2
              h2.black--text {{ activeItem.name }}
            v-divider.my-3
            v-row.ma-0.pa-2
              v-col.pa-0(cols='12')
                h3.black--text Описание:
                p.ma-0 {{ activeItem.description }}
                p.ma-0 {{ activeItem.birthDate }}
            v-divider.my-3
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';
import { getAuthors, getCountOfAuthors } from '@/api/axios/content/authors';
import { mapGetters } from 'vuex';

@Component(
  {
    name: 'AuthorList',
    computed: {
      ...mapGetters('accessAbilityModule', ['getApiHost']),
    },
  },
)
export default class AuthorList extends Vue {
  loadStatus = false;

  countOfPictures = 0;

  currentPagination = 1;

  pictureList = [];

  dialog = false;

  activeItem = null;

  created() {
    getCountOfAuthors()
      .then((res) => {
        this.countOfPictures = res.data;
      })
      .catch((err) => {
        console.log(err);
      });

    getAuthors(1, 10)
      .then((res) => {
        this.pictureList = res.data;
      })
      .catch((err) => {
        console.log(err);
      });
  }

  goToPictureDetail(detail: any) {
    this.activeItem = detail;
    this.dialog = true;
  }

  getPage(page: number) {
    getAuthors(page, 10)
      .then((res) => {
        this.pictureList = res.data;
      })
      .catch((err) => {
        console.log(err);
      });
  }

  get countOfPages() {
    return Math.ceil(this.countOfPictures / 9);
  }
}
</script>

<style lang="scss" scoped>
  .d-none {
    display: none;
  }

  .full-height {
    height: 100%;
  }
</style>
