<template lang='pug'>
  v-container.py-16.grey.darken-4(fluid height='100%')
    v-row
      template(v-for='(item, index) in pictureList')
        v-col(
          cols='12',
          sm='6',
          md='4',
          lg='3',
          :key='index'
        )
          v-hover(v-slot="{ hover }")
            v-card(
              v-ripple,
              @click="goToPictureDetail(item.id)"
            )
                v-card-text.pa-0
                  v-img(
                    :src='`${getApiHost}/${item.imgPath}`'
                  )
                  v-fade-transition
                      v-overlay(
                        absolute
                        v-if="hover"
                      )
                        v-card-title {{ item.name }}
    v-row.d-flex.justify-center
      v-pagination(
        v-model="currentPagination"
        :class="{ 'd-none': countOfPages <= 1 }"
        :length="countOfPages"
        @input='getPage'
      )
    v-dialog(
      width='500',
      v-if='dialog',
      v-model='dialog',
    )
      v-card
        v-card-text.pa-0
          v-img(
            :src='`${getApiHost}/${activeItem.imgPath}`',
          )
          v-container
            v-row.ma-0
              h2.black--text {{ activeItem.name }}
            v-divider.my-3
            v-row.ma-0
              v-col.pa-0(cols='12')
                h3.black--text Описание:
                p.ma-0 {{ activeItem.description }}
            v-divider.my-3
            v-row.ma-0
              v-col.pa-0(cols='12')
                h3.black--text Автор
              v-col.pa-0.pb-4(cols='12')
                p.ma-0 {{ activeItem.author.name }}
              v-col.pa-0(cols='12', sm='6')
                v-img(
                  :src='`${getApiHost}/${activeItem.author.imgPath}`',
                )
              v-col.text-center.pa-0(cols='6', sm='6')
                p.ma-0 {{ activeItem.author.description }}
            v-divider.my-3
            v-row.ma-0
              v-col.pa-0(cols='12')
                h3.black--text Жанр:
                p.ma-0 {{ activeItem.genre.name }}
                p.ma-0 {{ activeItem.genre.description }}
            v-divider.my-3
            v-row.ma-0
              v-col.pa-0(cols='12')
                h3.black--text Техника рисования:
                p.ma-0 {{ activeItem.genre.name }}
                p.ma-0 {{ activeItem.genre.description }}
            v-divider.my-3
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';
import { mapGetters } from 'vuex';
import { getCountOfExhibitionImagesById, getExhibitionById } from '@/api/axios/content/exhibitions';
import { getPictureById } from '@/api/axios/content/picture';

@Component(
  {
    name: 'Exhibition',
    computed: {
      ...mapGetters('accessAbilityModule', ['getApiHost']),
    },
  },
)
export default class Exhibition extends Vue {
  loadStatus = false;

  countOfPictures = 0;

  currentPagination = 1;

  pictureList = [];

  dialog = false;

  activeItem = null;

  created() {
    if (this.$route.query.id) {
      getCountOfExhibitionImagesById((this.$route.query?.id as any))
        .then((res) => {
          this.countOfPictures = res.data;
        })
        .catch((err) => {
          console.log(err);
        });

      getExhibitionById((this.$route.query?.id as any), 1, 10)
        .then((res: any) => {
          this.pictureList = res.data.pictures;
        })
        .catch((err) => {
          console.log(err);
        });
    }
  }

  goToPictureDetail(pictureId: number) {
    getPictureById(pictureId)
      .then((res: any) => {
        this.activeItem = res.data;
        this.dialog = true;
      })
      .catch((err) => {
        console.log(err);
      });
  }

  getPage(newPage: number) {
    getExhibitionById((this.$route.query?.id as any), newPage, 10)
      .then((res: any) => {
        this.pictureList = res.data.pictures;
      })
      .catch((err) => {
        console.log(err);
      });
  }

  get countOfPages() {
    return Math.ceil(this.countOfPictures / 9);
  }
}
</script>

<style lang="scss" scoped>
  .d-none {
    display: none;
  }
</style>
