<template lang='pug'>
  v-container.pa-0.text-center(fluid)
    v-container(fluid)
      v-row.d-flex.justify-center
        v-col.pa-0(cols="12")
          v-parallax.pa-0.introduction-block(
            :src='require("@/assets/img/homePage/home-page-top-img.jpeg")',
          )
            v-row.shadow-box.ma-0.d-flex.align-center
              v-col
                h1 Добро пожаловать в онлайн картинную галерею
    v-container.grey.darken-4.px-6.py-12(fluid)
      v-row
        v-col(
          cols="12"
          md="6"
        )
          v-img(
            :src='require("@/assets/img/homePage/home-page-col-img-1.jpeg")',
          )
        v-col.px-12(
          cols="12"
          md="6"
        )
          h2.mb-6.white--text Виртуальный музей живописи. Картины известных художников
          p.white--text
            | Все наши впечатления, фантазии, увиденные архитектурные ландшафты,
            | предметы, пейзажи удивительным образом находят свое отображение
            | в творческих работах великих мастеров и знаменитых художников.
            | Можно сказать, что любая галерея картин насыщает зрителя таинственным
            | колоритом высокого искусства и неповторимыми оттенками внутреннего мира
            | их создателя.
      v-row.flex-column-reverse.flex-md-row
        v-col(
          cols="12"
          md="6"
        )
          h2.mb-6.white--text Остановить прекрасное мгновенье
          p.white--text
            | Живопись удивительным образом раскрывает внутренний мир человека,
            | радость и горе героев полотен, их неуемный восторг и отчаяние.
            | Немало живописных работ показали в зрительных образах героизм
            | и самопожертвование, мужество и трусость, подлость и предательство.
        v-col(
          cols="12"
          md="6"
        )
          v-img(
            :src='require("@/assets/img/homePage/home-page-col-img-2.jpeg")',
          )
      v-row
        v-col(
          cols="12"
          md="6"
        )
          v-img(
            :src='require("@/assets/img/homePage/home-page-col-img-3.jpeg")',
          )
        v-col.px-12(
          cols="12"
          md="6"
        )
          h2.mb-6.white--text Зеркало человечества
          p.white--text
            | Человечество помнит себя во многом благодаря живописи.
            | Это были сначала примитивные изображения животных, сцен охоты на них
            | Затем появился человеческий образ. Складывается подобие композиции.
            | Красками служили кусочки охры и угля. Рабовладельческий период развития
            | общества обогатил живопись её связью с архитектурой, новыми техническими
            | средствами. Нередким было примитивное изображение человека,
            | развёрнутые повествовательные сюжеты. Появились пейзажи,
            | изображения предметов быта, домашних животных и птиц.
            | Такая древняя живопись имела декоративный характер, у неё были контурные
            | линии и цветовые пятна.
    v-container.pa-0.text-center(fluid)
      v-img(
        aspect-ratio="1.7"
        :src='require("@/assets/img/homePage/home-page-col-img-4.jpeg")',
        max-height="300"
      )
        v-row.ma-0.shadow-box.full-height
          v-col.d-flex.flex-column.justify-center
            h2.mb-6.white--text Количество посетителей
            h3.white--text 150000 человек
    v-container.grey.darken-4.pa-0.text-center(fluid)
        v-row.ma-0.pb-12
          v-col.pa-0.pt-3.d-flex.flex-column.justify-center(cols='12')
            h2.white--text.mb-1 Новые выставки
          v-col(
            cols='12',
            sm='4',
            md='4',
            lg='4',
            v-if='newExhibition.length > 0'
            v-for='(item, index) in newExhibition',
          )
            v-card.pa-0(
              v-ripple,
              :elevation="6"
              :to='`/exhibition?id=${item.id}`',
            )
              v-img(
                aspect-ratio="1.7"
                :src='`${getApiHost}/${item.imgPath}`'
              )
              h3.py-3 {{ item.name}}
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';
import { getExhibitions } from '@/api/axios/content/exhibitions';
import { mapGetters } from 'vuex';

@Component(
  {
    name: 'AuthorizationRegistrationPage',
    computed: {
      ...mapGetters('accessAbilityModule', ['getApiHost']),
    },
  },
)

export default class AuthorizationRegistrationPage extends Vue {
  newExhibition = [];

  created() {
    console.log('created');
    getExhibitions(1, 3)
      .then((res: any) => {
        this.newExhibition = res.data;
      })
      .catch((err) => {
        console.log(err);
      });
  }
}
</script>

<style lang="scss">
.introduction-block .v-parallax__content {
  padding: 0;
}

.shadow-box {
  background: rgba(0,0,0,0.35);
}

.full-height {
  height: 100%;
}

</style>
