<template lang='pug'>
  v-app#app
    router-view(
      name='header',
      :is-static-header='isStaticHeader',
    )
    v-main.pa-0(
      v-scroll="onScroll"
    )
      router-view
    router-view(name='footer')
</template>

<script lang="ts">
import { Vue, Component, Watch } from 'vue-property-decorator';
import Header from '@/components/Header.vue';

@Component(
  {
    name: 'App',
    components: {
      Header,
    },
  },
)

export default class App extends Vue {
  isStaticHeader?: boolean;

  created() {
    this.isStaticHeader = this.$route.path !== '/';

    window.addEventListener('resize', this.appResized);
    window.addEventListener('orientationchange', this.handleOrientationChange);

    this.appResized();
  }

  beforeDestroy() {
    window.removeEventListener('resize', this.appResized);
    window.removeEventListener('orientationchange', this.handleOrientationChange);
  }

  appResized() {
    this.$store.dispatch('windowModule/setDeviceWidth', window.innerWidth);
    this.$store.dispatch('windowModule/setDeviceHeight', window.innerHeight);
    this.$store.dispatch('windowModule/setUserAgent', navigator.userAgent);
    this.$store.dispatch('windowModule/setDeviceOrientation', window.matchMedia('(orientation: landscape)').matches ? 'landscape' : 'portrait');
  }

  handleOrientationChange(event: any) {
    const isLandscape = event.target.screen.orientation.type === 'landscape-primary' || +window.orientation === 90;
    this.$store.dispatch('windowModule/setDeviceOrientation', isLandscape ? 'landscape' : 'portrait');
  }

  onScroll(event: any) {
    this.$store.dispatch('windowModule/setScrollHeight', window.scrollY);
  }

  @Watch('$route', { deep: true })
  onRouteChange() {
    this.isStaticHeader = this.$route.path !== '/';
  }
}
</script>

<style lang="scss">
  #app {
    overflow: hidden;
  }
</style>
