<template lang='pug'>
  v-container(fluid)
    v-card.d-flex()
        v-row
          v-col(cols='3')
            v-navigation-drawer(
              permanent
            )
              template(v-slot:prepend)
                v-list-item(two-line)
                  v-list-item-avatar
                    v-icon(x-large color='black') mdi-image-multiple
                  v-list-item-content
                    v-list-item-title Admin Page
              v-divider

              v-list(dense)
                v-list-item(to='/admin-panel/assets-manager') Assets manager

              v-divider
              v-list
                  v-list-item(
                    v-for='(item, index) in schemaList',
                    :to='`/admin-panel/crud-tables/${item}`'
                  )
                    v-list-item-title {{ item }}
          v-col(cols='9')
            router-view
    v-btn(
      color="green",
      fixed
      fab,
      medium,
      bottom,
      right,
      dark,
      to='/',
    )
      v-icon mdi-home
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';
import { getSchemas } from '@/api/axios/adminPanel/index';

@Component(
  {
    name: 'AdminPage',
  },
)
export default class AdminPage extends Vue {
  schemaList = [];

  beforeMount() {
    getSchemas()
      .then((res) => {
        this.schemaList = res.data;
      })
      .catch((err) => {
        console.log(err);
      });
  }
}
</script>

<style lang="scss" scoped>
</style>
