<template lang='pug'>
  v-container(fluid)
    v-row.d-flex.justify-center
      v-btn(
        color='primary',
        width='100%',
        @click='openFilePopup',
      ) Upload New
    v-row
      v-select(
        solo,
        label="Img Type",
        v-model='selectedImgType'
        :items="imgTypes",
        @change='refreshImgList'
      )
    v-row
      template(v-for='(item, index) in imgList')
        v-col(cols='12', sm='6', md='4', lg='3', :key='index')
          v-card
            v-hover(v-slot="{ hover }")
              v-img(:src='`http://${item}`' aspect-ratio='1.7')
                v-overlay(
                  absolute
                  v-if="hover"
                )
                  v-card-title {{ item }}
    file-popup(
      acceptedFiles='image/png, image/jpeg',
      :dialog='filePopup',
      :rules="rules",
      :uploadAction='uploadImg'
      @close='filePopup = false',
      @submit='uploadImg',
    )
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';
import {
  getImgTypes,
  getImg,
  addImg,
  getSchemas,
} from '@/api/axios/adminPanel/index';
import FilePopup from '@/components/FilePopup.vue';

@Component(
  {
    name: 'AssetsManager',
    components: {
      FilePopup,
    },
  },
)
export default class AssetsManager extends Vue {
  imgTypes = [];

  imgList = [];

  selectedImgType = '';

  filePopup = false;

  rules = [(v: any) => !!v || 'Required'];

  openFilePopup() {
    this.filePopup = true;
  }

  uploadImg(file: any) {
    const formData = new FormData();
    formData.append('file', file);

    addImg(this.selectedImgType, formData)
      .then((res: any) => {
        this.refreshImgList();
      })
      .catch((err) => {
        console.log(err);
      });
  }

  refreshImgList() {
    getImg(this.selectedImgType)
      .then((res) => {
        this.imgList = res.data;
      })
      .catch((err) => {
        console.log(err);
      });
  }

  created() {
    getImgTypes()
      .then((res: any) => {
        this.imgTypes = res.data;
      })
      .catch((err: any) => {
        console.log(err);
      });
  }
}
</script>

<style lang="scss" scoped>
</style>
