<template lang='pug'>
  v-container(fluid)
    v-row.d-flex.justify-center
      v-col.d-flex.justify-center(cols='12')
        h2 CRUD MANAGER
      v-data-table.elevation-1(
        :headers="headers"
        :items="desserts"
        :items-per-page="5"
      )
        template(v-slot:top)
          v-btn(
            width='100%'
            color="primary"
            dark
            class="mb-2",
            @click='openDialog("add")',
          ) New Item
        template(v-slot:item.actions="{ item }")
          v-icon(
            small
            class="mr-2"
            @click="openDialog('edit', item)",
          ) mdi-pencil
          v-icon(
            small
            @click="openDialog('remove', item)"
          ) mdi-delete
        template(v-slot:no-data)
          v-btn(
            color="primary"
            @click="initTable"
          ) Reset
      confirmation-dialog(
        v-if='actionType === "remove"',
        :dialog='dialog',
        :placeholder='actionPlaceholder',
        @submit='submitCrudDialog',
        @close='dialog = false',
      )
      crud-action-dialog(
        v-else,
        :dialog='dialog',
        :placeholder='actionPlaceholder',
        :crudInputs='actionInputs',
        :activeItem='activeItem',
        @close='dialog = false',
        @submit='submitCrudDialog',
      )
</template>

<script lang="ts">
import { Vue, Component, Watch } from 'vue-property-decorator';
import {
  getSchemaModel,
  getSchemaValues,
  addSchemaValue,
  editSchemaValue,
  removeSchemaValue,
} from '@/api/axios/adminPanel/index';
import CrudActionDialog from '@/components/CrudActionDialog.vue';
import ConfirmationDialog from '@/components/ConfirmationDialog.vue';

@Component(
  {
    name: 'CrudManager',
    components: {
      CrudActionDialog,
      ConfirmationDialog,
    },
  },
)
export default class CrudManager extends Vue {
  schemaObject = {};

  schemaValues = [];

  dialog = false;

  actionType: 'add' | 'edit' | 'remove' = 'add';

  activeItem = {};

  get headers() {
    return [...Object.keys(this.schemaObject).map((item) => (
      {
        text: item,
        align: 'center',
        sortable: false,
        value: item,
      }
    )), { text: 'Actions', value: 'actions', sortable: false }];
  }

  get desserts() {
    return this.schemaValues.map((item) => {
      const values: any = {};

      Object.keys(item).forEach((key) => {
        values[key] = item[key];
      });

      return values;
    });
  }

  get actionPlaceholder() {
    const actionTypes = {
      add: 'Add item',
      edit: 'Edit item',
      remove: 'Remove item',
    };

    return actionTypes[this.actionType];
  }

  get actionInputs() {
    if (Object.keys(this.schemaObject).length > 0) {
      return Object.keys(this.schemaObject).map((item: string) => {
        const isAutoIncrement = !!(this.schemaObject as any)[item].autoIncrement;
        const isAllowNull = !!(this.schemaObject as any)[item].allowNull;

        return {
          name: item,
          disabled: isAutoIncrement,
          allowNull: isAllowNull,
        };
      });
    }

    return [];
  }

  created(item: any) {
    this.initTable();
  }

  openDialog(actionType: 'add' | 'edit' | 'remove', item?: any) {
    this.actionType = actionType;
    this.dialog = true;
    this.activeItem = JSON.parse(JSON.stringify(item || {}));
  }

  submitCrudDialog(item?: any) {
    this.dialog = false;
    if (this.actionType === 'add') this.addNewItem(item);
    if (this.actionType === 'edit') this.editItem(item);
    if (this.actionType === 'remove') this.deleteItem(this.activeItem);
  }

  addNewItem(item: any) {
    addSchemaValue(this.$route.params.schema, item)
      .then((res: any) => {
        this.getTableContent();
      })
      .catch((err: any) => {
        console.log(err);
      });
  }

  editItem(item: any) {
    editSchemaValue(this.$route.params.schema, this.activeItem, item)
      .then((res: any) => {
        this.getTableContent();
      })
      .catch((err: any) => {
        console.log(err);
      });
  }

  deleteItem(item: any) {
    removeSchemaValue(
      this.$route.params.schema,
      Object.keys(item).map((key: string) => `${key}=${item[key]}`).join('&'),
    )
      .then((res: any) => {
        this.getTableContent();
      })
      .catch((err: any) => {
        console.log(err);
      });
  }

  initTable() {
    getSchemaModel(this.$route.params.schema)
      .then((res) => {
        this.schemaObject = res.data;
      })
      .catch((err) => {
        console.log(err);
      });
    this.getTableContent();
  }

  getTableContent() {
    getSchemaValues(this.$route.params.schema)
      .then((res) => {
        this.schemaValues = res.data;
      })
      .catch((err) => {
        console.log(err);
      });
  }

  @Watch('$route', { deep: true })
  onRouteChange() {
    this.initTable();
  }
}
</script>

<style lang="scss" scoped>
</style>
